/****** blogs ******/
.blogs-block {
    border-top: 1px solid #e8e8e8;
    padding: 20px 0;
    position: relative;
}
.blogs-block div[class*='col-md-'],
.blogs-block .row.content-row {
    padding: 0;
}
.blogs-block .title-row .col-md-8 {
    padding-right: 15px;
}
.blogs-block .row {
    margin: 0;
}
.blogs-block div[id*="ThreadFollowIcon"] {
    display: none;
}
.blogs-block h4 div[id*="ByLinePanel"] {
    letter-spacing: 0;
    text-transform: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #484848;
}
.blogs-block h4 div[id*="ByLinePanel"] a {
    text-decoration: underline;
}
div[id*="TotalRatingLikePanel"] {
    color: #797979;
}
div[id*="TotalRatingLikePanel"]::before {
    font-family: FontAwesome;
    content: '\f164';
    margin-right: 10px;
    font-size: 14px;
}
div[id*="TotalRatingLikePanel"]::before {
    color: $blue-light;
}

.ContentUserControl {
    .blogs-block {
        .content-row {
            margin-bottom: $spacer-2;
        }
    }
    .panel.blog-editor {
        .form-horizontal {
            #lblBlogHeadDiv {
                @include media(large-and-up) {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
            #lblPermalinkDiv {
                >.col-md-9 {
                    @include media(large-and-down) {
                        padding: 0;
                    }
                }
            }
            .form-group {
                .col-md-12 {
                    >.margin-top-medium {
                        >.col-md-12 {
                            @include media(large-and-down) {
                                padding: 0;
                            }
                        }
                    }
                }
            }
            .bootstrap-select.form-control.blog-auto-save {
                background-color: transparent;
            }
        }
    }
}
#MasterPageForm {
    .panel-form {
        .col-md-10 {
            >.row.margin-top-medium {
                .col-md-12 {
                    @include media(large-and-down) {
                        padding: 0;
                    }
                }
            }
        }
    }
}
.blogs {
    #MainCopy_ContentWrapper {
        >.row-wide {
            >.col-md-6.section2 {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}
