.mycommunities,
.allcommunities {
    div[id*="UpdatePanel1"] {
        .Count.text-muted {
            color: #808080;
            font-size: 14px;
        }
        div[id*="CommunityFilter"] {
            margin-bottom: 0;
            .form-group {
                margin-left: 16px;
                @include media(desktop-and-down) {
                    margin-left: 0;
                }
                @include media(tablet-to-desktop) {
                    margin-top: 8px;
                    width: 100%;
                }
                select {
                    color: #3C4453;
                    font-size: 12px;
                }
            }
            @include media(tablet-and-down) {
                width: 100%;
                .form-group:nth-last-child(1) {
                    width: calc(50% - 8px);
                    float: left;
                    margin-left: $spacer-2;
                }
                .form-group:nth-last-child(2) {
                    width: calc(50% - 8px);
                    float: left;
                    margin-right: $spacer-2;
                }
            }
        }
    }
}
.community-list {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 24px 32px;
    background-color: white;
    margin-bottom: 24px;
    >.col-md-7 {
        padding-left: 0;
        @include media(tablet-to-desktop) {
            width: 45%;
            float: left;
        }
        >.row >.col-md-12 {
            h3 {
                margin-bottom: 16px;
                a {
                    color: #222A34;
                    font-weight: 600;
                }
            }
            p {
                margin: 0;
                .text-muted {
                    color: #808080;
                }
            }
        }
    }
    >.col-md-5 {
        float: right;
        padding-right: 0;
        @include media(tablet-and-up) {
            >.row {
                width: 100%;
                a[id*="lstCommunityList_join"] {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    border-radius: 22px;
                    padding: 8px 14px;
                }
                &.row-bottom-margin {
                    width: 25%;
                    margin-bottom: 12px;
                    margin-left: 0;
                    margin-right: 0;
                    display: inline-block;
                    text-align: center;
                    float: left;
                    .col-md-12 {
                        padding: 0;
                    }
                }
                &[id*="lstCommunityList_pnlAttributes"] {
                    width: 75%;
                    display: inline-block;
                }
                >.col-md-12 {
                    >div.pull-right {
                        width: 100%;
                        >a {
                            display: flex;
                            flex-direction: column-reverse;
                            width: 33.3%;
                            float: left;
                        }
                    }
                }
            }
        }
        @include media(tablet-to-desktop) {
            width: 55%;
        }
        @include media(tablet-and-down) { 
            float: left;
            width: 100%;
        }
        > .row {
            @include media(tablet-and-down) {
                width: 100%;
            }
        }
        &:first-child {
            @include media(tablet-and-down) {
                display: none;
            }
        }
        > .col-md-12 {
            > div.pull-right {
                @include media(tablet-and-down) {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    a:first-child {
                        padding-left: 0;
                    }
                }
            }
        }
        @include media(tablet-and-down) {
            flex-basis: 100%;
        }
    }
    div[id*="pnlAttributes"] {
        .btn-community-stats-static {
            font-size: $font-size-xs;
            letter-spacing: 0.33px;
            line-height: 14px;
            color: $dark-gray;
            font-weight: $font-weight-semibold;
            border: 0;
            text-transform: uppercase;
            background-color: unset;
            @include media(tablet-and-down) {
                font-size: $font-size-sm;
                text-transform: capitalize;
                letter-spacing: 0;
                font-weight: $font-weight-normal;
                margin: 12px 0 0 0;
            }
            .badge {
                font-size: $font-size-xxlg;
                font-weight: $font-weight-semibold;
                color: $blue-darker;
                letter-spacing: 0.67px;
                line-height: 27px;
                background-color: transparent;
                margin-bottom: 5px;
                @include media(tablet-and-down) {
                    top: 0;
                    font-size: $font-size-sm;
                    letter-spacing: 0;
                    display: inline-block;
                    width: auto;
                    margin: 0 auto;
                    border-top: 0;
                    padding-top: 0;
                }
                @include media(phone-and-down) {
                    padding: 3px 4px;
                }
            }
        }
    }
}

// .ContentUserControl {
//   span.Count {
//     color: $blue-darker;
//     font-weight: $font-weight-semibold;
//     @include media(desktop-and-up) {
//       line-height: 41px;
//     }
//   }
// }
// select.form-control {
//   padding-right: 40px;
//   background-position-x: calc(100% - 10px);
// }
// .communities-page {
//   padding-left: $spacer-4;
//   padding-right: $spacer-4;
//   @include media(tablet-and-down) {
//     margin-bottom: -57px;
//   }
//   .community-list {
//     padding: $spacer-1 0;
//     border-top: 0;
//     border-bottom: 2px solid #e8e8e8;
//     &:last-child {
//       border-bottom: 0;
//     }
//     > .col-md-5 {
//       justify-content: center;
//       align-items: center;
//       @include media(tablet-and-up) {
//         flex-basis: 35%;
//         flex-direction: row;
//         > .row {
//           width: 100%;
//           a[id*="lstCommunityList_join"] {
//             // @include btn-primary(8px 25px, $font-size-md, $line-height: 22px);
//           }
//           &.row-bottom-margin {
//             width: 110px;
//             margin-bottom: 10px;
//             .col-md-12 {
//               padding: 0;
//             }
//           }
//           > .col-md-12 {
//             > div.pull-right {
//               width: 100%;
//               > a {
//                 display: flex;
//                 flex-direction: column-reverse;
//                 width: 33.3%;
//                 float: left;
//               }
//             }
//           }
//         }
//       }
//       > .row {
//         @include media(tablet-and-down) {
//           width: 100%;
//         }
//         &:first-child {
//           @include media(tablet-and-down) {
//             display: none;
//           }
//         }
//         > .col-md-12 {
//           > div.pull-right {
//             @include media(tablet-and-down) {
//               width: 100%;
//               display: flex;
//               justify-content: space-between;
//             }
//           }
//         }
//       }
//       @include media(tablet-and-down) {
//         flex-basis: 100%;
//       }
//     }
//     > .col-md-7 {
//       @include media(tablet-and-up) {
//         flex-basis: 65%;
//       }
//       @include media(tablet-and-down) {
//         flex-basis: 100%;
//       }
//     }
//     .col-md-12 {
//       > h3 {
//         > a {
//           font-size: $font-size-xlg;
//         }
//       }
//     }
//   }
//   > .col-md-12.section1 {
//     margin-top: -120px;
//     background: $white;
//     z-index: 2;
//     padding-top: 10px;
//     padding-left: $spacer-5;
//     padding-right: $spacer-5;
//     -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.175);
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.175);
//     // @include blueBorderTop;
//   }
//   .Count {
//     @include media(tablet-and-down) {
//       margin-bottom: $spacer-3;
//     }
//   }
//   .form-inline.pull-right {
//     .form-group {
//       @include media(tablet-and-up) {
//         margin-left: $spacer-1;
//       }
//     }
//     @include media(tablet-and-down) {
//       width: 100%;
//       .form-group:nth-last-child(1) {
//         width: calc(50% - 8px);
//         float: left;
//         margin-left: $spacer-2;
//       }
//       .form-group:nth-last-child(2) {
//         width: calc(50% - 8px);
//         float: left;
//         margin-right: $spacer-2;
//       }
//     }
//   }
//   .row {
//     > .col-md-12 {
//       > p {
//         @include media(tablet-and-down) {
//           display: none;
//         }
//       }
//     }
//   }
//   div[id*="pnlAttributes"] {
//     .btn-community-stats-static {
//       font-size: $font-size-xs;
//       letter-spacing: 0.33px;
//       line-height: 14px;
//       color: $dark-gray;
//       font-weight: $font-weight-semibold;
//       border: 0;
//       text-transform: uppercase;
//       @include media(tablet-and-down) {
//         font-size: $font-size-sm;
//         text-transform: capitalize;
//         letter-spacing: 0;
//         font-weight: $font-weight-normal;
//       }
//       .badge {
//         font-size: $font-size-xxlg;
//         font-weight: $font-weight-semibold;
//         color: $blue-darker;
//         letter-spacing: 0.67px;
//         line-height: 27px;
//         background-color: transparent;
//         margin-bottom: 5px;
//         @include media(tablet-and-down) {
//           top: 0;
//           font-size: $font-size-sm;
//           letter-spacing: 0;
//           display: inline-block;
//           width: auto;
//           margin: 0 auto;
//           border-top: 0;
//           padding-top: 0;
//         }
//         @include media(phone-and-down) {
//           padding: 3px 4px;
//         }
//       }
//     }
//   }
// }
// //********* Community tabs Start ************//
// .community-home,
// .digestviewer,
// .librarydocuments,
// .community-members,
// .viewthread,
// .viewdocument {
//   max-width: 1200px;
//   margin: 0 auto;
//   margin-top: -54px;
//   .section1 {
//     > .ContentUserControl {
//       margin-top: 0;
//       margin-bottom: 10px;
//     }
//   }
//   .nav-tabs {
//     border-bottom: 0;
//     &#CommunityTabsContainer {
//       margin-bottom: 0;
//     }
//     > li {
//       > a {
//         font-size: $font-size-lg;
//         background-color: transparent;
//         border-color: transparent;
//         color: $white;
//         text-transform: inherit;
//         padding: 0;
//         padding-bottom: 10px;
//         margin-right: $spacer-5;
//         .badge {
//           background-color: transparent;
//         }
//         &:hover,
//         &:active,
//         &:focus {
//           background-color: transparent;
//           border-color: transparent;
//           color: $white;
//           outline: none;
//         }
//       }
//       &.active {
//         > a {
//           border-bottom: 2px solid $cyan;
//         }
//       }
//     }
//   }
//   &#MainCopy_ContentWrapper {
//     padding-top: 0;
//   }
// }
// .viewdocument {
//   a[id*="ProfileImage_NameLink"],
//   a[id*="ItemCommentList_CommentsList_UserName"] {
//     font-size: $font-size-sm;
//     font-weight: $font-weight-bold;
//     text-decoration: none;
//   }
// }
// .community-home {
//   margin-top: -100px;
//   .one-click-upload {
//     display: none;
//   }
// }
// .ContentUserControl >.btn-back {
//   margin-left: $spacer-4;
// }
// .community-members {
//   .manage-community-members {
//     padding-top: 60px;
//     min-height: 500px;
//     padding-left: $spacer-4;
//     padding-right: $spacer-4;
//     .nav-tabs {
//       >li>a {
//         color: $gray-800;
//         &:hover {
//           color: $gray-800;
//         }
//       }
//     }
//   }
// }
// #DiscussionContentContainer div.row.drItemSubHeader.messagetitle-container,
// #DiscussionContentContainer div.row.drItemSubHeader.highlightThread,
// .viewdocument .title-row-background {
//   background-color: #ebe9e5 !important;
// }
// .viewdocument {
//   .title-row-background {
//     > .col-md-8 > h2 {
//       font-size: $font-size-xlg;
//       font-weight: $font-weight-semibold;
//     }
//   }
// }

// //********* Community tabs End ************//
// .current-members .Content {
//   > div > .panel.panel-default {
//     background: none;
//     border: 0;
//     box-shadow: unset;
//   }
//   .panel-default {
//     border-radius: 0;
//   }
//   .panel-heading {
//     background-color: transparent;
//     border-color: transparent;
//   }
//   .panel-body {
//     .Content {
//       .col-md-2.col-sm-4.col-xs-6.text-center {
//         width: 25%;
//         @include media(xlarge-and-down) {
//           width: 33.333%;
//         }
//         @include media(desktop-and-down) {
//           width: 50%;
//         }
//         @media only screen and (max-width: $screen-sm-min) {
//           width: 100%;
//         }
//       }
//     }
//   }
//   .panel-title {
//     font-size: $font-size-h2;
//     font-weight: $font-weight-bold;
//   }
//   #NumericPager {
//     text-align: center;
//   }
//   .panel-member {
//     position: relative;
//     padding-left: 75px;
//     min-height: 95px;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.175);
//     -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.175);
//     // @include blueBorderTop;
//     display: flex;
//     align-items: start;
//     justify-content: center;
//     flex-direction: column;
//     .GroupMember {
//       position: absolute;
//       left: 10px;
//       top: calc(50% - 28px);
//       a[id*="lnkDisplay"] {
//         width: 55px;
//         height: 55px;
//         > img {
//           width: 55px;
//           height: 55px;
//         }
//       }
//     }
//     .GroupMemberName {
//       line-height: 19px;
//       text-align: left;
//       a,
//       span {
//         color: $blue-darker;
//         font-weight: $font-weight-semibold !important;
//         text-decoration: none;
//       }
//     }
//     .GroupMemberAdmin {
//       line-height: 17px;
//       .label {
//         color: #005eb9;
//         opacity: 1;
//         padding-left: 0;
//         padding-right: 0;
//         font-weight: $font-weight-semibold !important;
//         background-color: transparent;
//       }
//     }
//   }
// }
// .qtip {
//   .qtip-content {
//     .Pict,
//     .Details {
//       width: auto;
//     }
//     .Action {
//       .Buttons {
//         margin-bottom: $spacer-2;
//         width: auto;
//       }
//     }
//     .Inner {
//       .Details {
//         .Location,
//         .Company,
//         .Title {
//           margin-top: $spacer-2;
//         }
//       }
//     }
//   }
// }
// .community-home-page {
//   #PageTitleH1 {
//     padding-bottom: 130px;
//   }
// }
// .librarydocuments-page {
//   #PageTitleH1 ~ .feature-preview-row {
//     display: none;
//   }
// }
// .commHTMLOptionsToAttach {
//   display: none;
// }
// div[id*="DocumentPanel"] .btn-group .dropdown-toggle {
//   padding-right: 24px;
//   .caret.caret:before {
//     top: -10px;
//   }
// }
// .dropdown-multi-option {
//   a[id*="ProfileImage"]:not([id*="NameLink"]) {
//     border-radius: inherit;
//     background-color: transparent;
//     width: auto;
//     height: auto;
//     overflow: inherit;
//   }
// }
// .expand-collapse-container {
//   #expand-all-posts,
//   #collapse-all-posts {
//     font-weight: bold;
//     text-decoration: none;
//   }
//   .expand-collapse-pipe {
//     font-size: $font-size-xxlg;
//     display: inline-block;
//     color: #e0e0e0;
//     font-weight: 100;
//   }
// }
// .viewthread {
//   .ContentUserControl {
//     > #top-top {
//       > .Content {
//         .row {
//           > .col-sm8 {
//             > .input-group {
//               @include media(tablet-and-down) {
//                 float: left !important;
//                 margin-top: $spacer-4;
//                 margin-bottom: 17px;
//               }
//             }
//             .input-group-glue {
//               @include media(tablet-and-down) {
//                 padding-right: 0;
//               }
//             }
//           }
//           &.thread-title {
//             @include media(tablet-and-up) {
//               margin-top: 18px;
//             }
//             > .col-md-2 {
//               @include media(tablet-and-down) {
//                 position: absolute;
//                 top: 55px;
//                 right: 0;
//               }
//             }
//           }
//         }
//         .tags-container {
//           @include media(tablet-and-down) {
//             margin-top: $spacer-1;
//           }
//           ul.tagit {
//             @include media(tablet-and-down) {
//               margin-bottom: 0;
//               padding-bottom: 0;
//             }
//           }
//         }
//         #DiscussionOutlineContainer {
//           .list-group-item {
//             @include media(tablet-and-down) {
//               padding-left: 0;
//               padding-right: 0;
//             }
//           }
//           .list-group-item-text {
//             @include media(tablet-and-down) {
//               margin-left: 55px;
//             }
//           }
//         }
//       }
//     }
//   }
// }
// .expandCollapseWrapper {
//   display: none;
//   i {
//     @include media(tablet-and-down) {
//       position: relative;
//       top: 8px;
//       font-size: 28px;
//       cursor: pointer;
//     }
//   }
//   @include media(tablet-and-down) {
//     display: inline-block;
//     float: right;
//   }
// }
// .expand-collapse-container {
//   @include media(tablet-and-down) {
//     display: none;
//     &.mobile {
//       display: block;
//     }
//   }
// }
// .list-group-item-content {
//   h4.list-group-item-heading {
//     color: #333f48;
//     font-size: $font-size-md;
//     font-weight: $font-weight-bold;
//     text-transform: capitalize;
//     letter-spacing: 0;
//     .daysago {
//       font-weight: $font-weight-normal;
//       color: #333f48;
//       text-transform: none;
//     }
//   }
//   .list-group-item-text a {
//     font-weight: $font-weight-bold;
//     text-decoration: none;
//     color: $brand-primary;
//   }
// }
// .bioBubbleShell {
//   .Inner {
//     .Details {
//       h4 {
//         text-transform: none;
//       }
//     }
//   }
// }
// .MessageListContainer {
//   .drItemSubHeader {
//     h4 {
//       font-weight: $font-weight-semibold;
//       text-transform: capitalize;
//       > span {
//         font-weight: $font-weight-semibold;
//       }
//     }
//   }
//   .col-md-4.message-list-reply {
//     @include media(tablet-and-down) {
//       margin-top: $spacer-1;
//       padding-left: 0;
//       padding-right: 0;
//     }
//   }
//   a[id*="ucMessageList_rptMessageList_ProfileImageDisplay"] {
//     font-size: $font-size-sm;
//     font-weight: $font-weight-bold;
//     text-decoration: none;
//   }
//   a[id*="ucMessageList_rptMessageList_lnkOriginalMessage"] {
//     font-weight: $font-weight-semibold;
//     text-decoration: none;
//     @media only screen and (max-width: $screen-xs-max) {
//       width: 100%;
//     }
//   }
//   .DiscussionContentContainer {
//     .pnl-row-item {
//       > .row {
//         .form-group {
//           margin-bottom: 5px;
//           .dropdown-multi-option {
//             margin-top: 10px;
//           }
//         }
//         > .col-sm-10 {
//           @media only screen and (max-width: $screen-xs-max) {
//             padding: 0 10px;
//           }
//         }
//       }
//     }
//   }
// }
// .message-original-button {
//   > a {
//     // @include btn-secondary(8px 16px, $font-size-base, 22px);
//   }
// }
// .timeAgoFormat {
//   font-size: $font-size-sm;
//   color: #333f48;
//   opacity: 0.8;
// }
// .hltags {
//   .tagit-new {
//     input {
//       font-size: $font-size-md;
//       font-weight: $font-weight-bold;
//       text-transform: lowercase;
//       text-decoration: none;
//     }
//     .fa-plus-circle {
//       color: #333f48;
//       font-size: $font-size-xs;
//       &:before {
//         content: "\f067";
//       }
//     }
//   }
// }
// .item-tag-edit,
// .content-tags {
//   .glyphicon.glyphicon-tags {
//     margin-right: 0;
//   }
// }
// .item-tag-edit {
//   .glyphicon.glyphicon-tags {
//     color: $blue-light;
//   }
// }
// .community-list {
//   .content-tags {
//     margin-top: 0;
//     margin-bottom: 0;
//   }
// }
// .content-tags {
//   .glyphicon.glyphicon-user {
//     font-size: $font-size-sm;
//     color: rgba(51, 63, 72, 0.5);
//     opacity: 1;
//   }
//   .glyphicon.glyphicon-tags {
//     color: $blue-light;
//     font-size: $font-size-lg;
//   }
//   a.label-search-tag {
//     background-color: #ebe9e5;
//     border-color: #ebe9e5;
//     border-radius: 2px;
//     line-height: 17px;
//   }
// }
// #DiscussionOutlineContainer {
//   .list-group-item-icon {
//     .glyphicon {
//       margin-right: 0;
//     }
//   }
// }
// /* Disscussion list and library list start*/
// .librarydocuments {
//   div[id*="DocumentPanel"] {
//     > .row > .col-md-12 {
//       padding: 0;
//     }
//   }
//   > .row {
//     .Content {
//       > .row {
//         margin: 0;
//         .col-md-4.margin-top-medium {
//           width: 15%;
//           float: left;
//         }
//         .col-md-8.text-right {
//           width: 85%;
//           float: left;
//           @include media(tablet-and-down) {
//             float: none;
//             width: 100%;
//           }
//         }
//         .margin-top-medium {
//           margin-top: $spacer-2;
//         }
//         #LibaryEntryCountDiv {
//           color: $brand-primary;
//           font-weight: $font-weight-semibold;
//         }
//         &:first-child {
//           .col-md-8.text-right {
//             margin-bottom: $spacer-3;
//             @include media(tablet-and-down) {
//               margin-bottom: 0;
//             }
//             .form-inline {
//               > .form-group {
//                 vertical-align: top;
//                 @include media(tablet-and-down) {
//                   display: inline-block;
//                   margin-bottom: $spacer-3;
//                 }
//                 &:first-child {
//                   @include media(desktop-and-down) {
//                     display: block;
//                     margin-bottom: $spacer-2;
//                   }
//                   @include media(tablet-and-down) {
//                     width: 100%;
//                   }
//                 }
//                 &:nth-child(2),
//                 &:nth-child(3) {
//                   @include media(tablet-and-down) {
//                     width: calc(50% - 6px);
//                   }
//                   .btn-group.bootstrap-select {
//                     @include media(tablet-and-down) {
//                       width: 100%;
//                       max-width: 100%;
//                     }
//                   }
//                   > .row.form-group {
//                     margin-bottom: 0;
//                   }
//                 }
//                 &:nth-child(2) {
//                   margin-right: $spacer-2;
//                   @include media(tablet-and-down) {
//                     float: left;
//                   }
//                 }
//                 &:nth-child(3) {
//                   @include media(tablet-and-down) {
//                     float: right;
//                   }
//                 }
//                 &:nth-child(4) {
//                   @include media(tablet-and-down) {
//                     width: 100% !important;
//                     max-width: 100% !important;
//                   }
//                 }
//                 .col-md-12 {
//                   @media screen and (max-width: 1200px) {
//                     padding: 0;
//                   }
//                 }
//                 .btn.btn-success {
//                   // @include btn-attention(11px 24px, $font-size-md, 17px);
//                   @include media(tablet-and-down) {
//                     width: 100% !important;
//                     max-width: 100% !important;
//                   }
//                 }
//                 .btn-default.btn-sm {
//                   padding: 10px 11px;
//                   &:first-child {
//                     margin-right: $spacer-2;
//                   }
//                 }
//                 .glyphicon {
//                   color: $brand-primary;
//                   font-size: 14px;
//                   font-weight: 400;
//                 }
//                 .input-small {
//                   min-width: 134px;
//                   @media screen and (max-width: 340px) {
//                     min-width: 120px;
//                   }
//                 }
//               }
//             }
//           }
//         }
//       }
//       div[id*="ListViewContent"] {
//         .library-list {
//           padding: $spacer-3 0;
//           margin: 0;
//           border-top: 2px solid #e0e0e0;
//           &:first-child {
//             border: 0;
//             @include media(tablet-and-down) {
//               padding-top: 0;
//             }
//             > .text-center {
//               @include media(tablet-and-down) {
//                 margin-right: $spacer-3;
//               }
//             }
//           }
//           .rlDetailListProfileImg {
//             > .col-md-12 {
//               padding: 0;
//             }
//           }
//           div[id*="rptDocuments_NameBlock"] {
//             padding-left: 0;
//             > div:nth-child(2) {
//               margin-bottom: $spacer-1;
//               > .row {
//                 display: inline-block;
//               }
//             }
//             > .pull-right {
//               padding-top: $spacer-1;
//               padding-bottom: $spacer-1;
//             }
//             div[id*="PostDateTime"] {
//               line-height: 24px;
//             }
//             div[id*="TotalRatingLikePanel"] {
//               &::before {
//                 margin-right: $spacer-1;
//               }
//               span {
//                 color: $dark-gray;
//                 font-size: $font-size-sm;
//               }
//             }
//             .libListReptEntByline {
//               margin-bottom: $spacer-3;
//               div[id*="PostedByPanel"] {
//                 > span {
//                   color: $dark-gray;
//                   font-size: $font-size-sm;
//                   line-height: $line-height-small;
//                   text-transform: capitalize;
//                 }
//                 a {
//                   font-size: $font-size-sm;
//                   font-weight: $font-weight-bold;
//                   text-decoration: auto;
//                 }
//               }
//               + div .margin-bottom-medium {
//                 margin-bottom: 0;
//               }
//               + div + div {
//                 @include media(tablet-and-down) {
//                   position: relative;
//                   left: -57px;
//                   width: calc(100% + 57px);
//                 }
//               }
//             }
//             .libListReptEntAttchLble {
//               border: 0;
//               margin-bottom: $spacer-3;
//               .text-muted {
//                 color: $brand-primary;
//                 font-size: $font-size-sm;
//                 font-weight: $font-weight-bold;
//                 letter-spacing: 0.6px;
//                 text-transform: uppercase;
//                 @media only screen and (max-width: $screen-md-max) {
//                   padding-left: 15px;
//                 }
//                 @include media(tablet-and-down) {
//                   padding-left: 0;
//                 }
//               }
//             }
//             div[id*="fileListInlineWrapper"] {
//               .btn.btn-default[id*="btnDownload"] {
//                 font-size: $font-size-base;
//                 font-weight: $font-weight-semibold;
//                 line-height: 19px;
//                 padding: 10px 24px;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

// .digestviewer {
//   .JoinLeaveLink a[id*="lbJoin"] {
//     // @include btn-attention(
//     //   $padding: 10px 24px,
//     //   $font-size: $font-size-base,
//     //   $line-height: 18px
//     // );
//   }
//   .bg-warning {
//     margin: 0;
//   }
//   div[id*="MessagePanel"] {
//     > .row-border-bottom {
//       > .center {
//         padding: $spacer-2 0 0;
//         margin: 0;
//         width: auto;
//         @media screen and (max-width: 1080px) {
//           width: 100%;
//           margin-bottom: $spacer-3;
//         }
//         > .Count {
//           font-weight: $font-weight-semibold;
//           color: $brand-primary;
//         }
//       }
//       > .margin-bottom-medium {
//         margin-bottom: $spacer-2;
//         padding: 0;
//         @include media(tablet-and-down) {
//           width: 100%;
//         }
//         > .message-list-controls {
//           margin-bottom: 0;
//           .form-group {
//             margin-bottom: 0;
//             @media screen and (max-width: 1080px) {
//               margin-bottom: $spacer-3;
//             }
//             @include media(tablet-and-down) {
//               display: block;
//               margin-left: 0;
//               > select.form-control {
//                 max-width: unset;
//                 width: 100%;
//               }
//             }
//             &:nth-child(2) {
//               @include media(tablet-and-down) {
//                 margin-right: 12px;
//               }
//             }
//             &:nth-child(2),
//             &:nth-child(3) {
//               @include media(tablet-and-down) {
//                 float: left;
//                 width: calc(50% - 6px);
//               }
//             }
//           }
//           div[id*="PostMessageContainer"] {
//             @include media(tablet-and-down) {
//               display: block;
//               margin: 0;
//             }
//             .btn {
//               // @include btn-attention(
//               //   $padding: 10px 24px,
//               //   $font-size: $font-size-base,
//               //   $line-height: 18px
//               // );
//               @include media(tablet-and-down) {
//                 width: 100%;
//                 margin-bottom: $spacer-8;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
//   table.digest-viewer.table-responsive {
//     thead.table-thead-background {
//       tr {
//         th:nth-child(2) {
//           width: 100%;
//         }
//         th,
//         td {
//           padding: 0;
//           span {
//             display: none;
//           }
//         }
//       }
//     }
//     tbody {
//       tr {
//         @include media(tablet-and-down) {
//           padding: $spacer-5 0;
//           display: block;
//           overflow: hidden;
//           border-top: 2px solid #e0e0e0;
//         }
//         &:first-child {
//           @include media(tablet-and-down) {
//             border-top: 0;
//           }
//           td {
//             border-top: 0;
//             @include media(tablet-and-down) {
//               border-top: 0;
//             }
//           }
//         }
//         td {
//           border-top: 2px solid #e0e0e0;
//           @include media(tablet-and-down) {
//             border-top: 0;
//           }
//           &:first-child {
//             padding: $spacer-6 0 0;
//             @include media(tablet-and-down) {
//               float: left;
//               vertical-align: inherit;
//               padding-top: 2px;
//             }
//             > span {
//               margin-right: $spacer-2;
//               @include media(tablet-and-down) {
//                 vertical-align: middle;
//               }
//             }
//           }
//           &:nth-child(2) {
//             padding: $spacer-5 0;
//             vertical-align: middle;
//             @include media(tablet-and-down) {
//               padding: 0 0 $spacer-3;
//               float: left;
//             }
//             a {
//               color: $brand-primary;
//               font-size: $font-size-xxlg;
//               font-weight: $font-weight-bold;
//               line-height: 27px;
//             }
//             .label-search-tag {
//               font-weight: $font-weight-normal;
//               font-size: $font-size-sm;
//               padding-top: 0;
//               padding-bottom: 0;
//             }
//           }
//           &:nth-child(3) {
//             padding: 0 30px;
//             width: 130px;
//             min-width: 130px;
//             vertical-align: inherit;
//             @include media(tablet-and-down) {
//               padding: 0;
//               overflow: hidden;
//               width: 100%;
//             }
//             span {
//               color: $brand-primary;
//               font-size: $font-size-xxlg;
//               font-weight: $font-weight-semibold;
//               letter-spacing: 0.67px;
//               @include media(tablet-and-down) {
//                 color: $dark-gray;
//                 font-size: $font-size-sm;
//                 font-weight: $font-weight-bold;
//                 line-height: 24px;
//                 float: left;
//                 margin-right: $spacer-1;
//               }
//             }
//             &::after {
//               content: "Replies";
//               color: $dark-gray;
//               font-family: "Open Sans";
//               font-size: 10px;
//               font-weight: $font-weight-semibold;
//               letter-spacing: 0.33px;
//               line-height: 14px;
//               text-align: center;
//               text-transform: uppercase;
//               display: block;
//               @include media(tablet-and-down) {
//                 float: left;
//                 line-height: 24px;
//               }
//             }
//           }
//           &:nth-child(4) {
//             padding-left: 0;
//             padding-right: 0;
//             width: 194px;
//             min-width: 194px;
//             vertical-align: inherit;
//             @include media(tablet-and-down) {
//               width: 100%;
//               padding: 0;
//             }
//             abbr {
//               border-bottom: 0;
//               text-decoration: auto;
//               &::before {
//                 content: "Last post ";
//                 color: $dark-gray;
//                 font-family: "Open Sans";
//                 font-size: $font-size-sm;
//                 letter-spacing: 0;
//                 line-height: $line-height-small;
//               }
//             }
//             abbr,
//             span,
//             a {
//               font-size: $font-size-sm;
//               line-height: $line-height-small;
//             }
//             a {
//               font-weight: $font-weight-bold;
//               @include media(tablet-and-down) {
//                 line-height: $line-height-small;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }
// /* Disscussion list and library list end*/
