.mycommunities,
.allcommunities {
    div[id*="UpdatePanel1"] {
        .Count.text-muted {
            color: #808080;
            font-size: 14px;
        }
        div[id*="CommunityFilter"] {
            margin-bottom: 0;
            select[id*="CommunityTypeDropDown"] {
                background-image: url("../../../images/angle-down-light.svg");
                background-repeat: no-repeat;
                background-position: right;
                background-size: 10px;
                padding-left: 20px;
            }
            .form-group {
                margin-left: 16px;
                @include media(desktop-and-down) {
                    margin-left: 0;
                }
                @include media(tablet-to-desktop) {
                    margin-top: 8px;
                    width: 100%;
                }
                select {
                    color: #3C4453;
                    font-size: 12px;
                }
            }
            @include media(tablet-and-down) {
                width: 100%;
                .form-group:nth-last-child(1) {
                    width: calc(50% - 8px);
                    float: left;
                    margin-left: $spacer-2;
                }
                .form-group:nth-last-child(2) {
                    width: calc(50% - 8px);
                    float: left;
                    margin-right: $spacer-2;
                }
            }
        }
    }
}
.community-list {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 24px 32px;
    background-color: white;
    margin-bottom: 24px;
    >.col-md-7 {
        padding-left: 0;
        @include media(tablet-to-desktop) {
            width: 45%;
            float: left;
        }
        >.row >.col-md-12 {
            h3 {
                margin-bottom: 16px;
                a {
                    color: #222A34;
                    font-weight: 600;
                }
            }
            p {
                margin: 0;
                .text-muted {
                    color: #808080;
                }
            }
            p[id*="pDescription"] {
                color: rgba(60,68,83,0.9);
                font-size: $font-size-lg;
                line-height: 24px;
            }
            p[id*="pStatLastJoined"] {
                margin-top: 15px;
                span[id*="imgIsMember"] {
                    margin-right: 8px;
                }
                span[id*="lblLastUpdated"] {
                    margin-left: -8px;
                }
            }
        }
    }
    >.col-md-5 {
        float: right;
        padding-right: 0;
        @include media(tablet-and-up) {
            >.row {
                width: 100%;
                a[id*="lstCommunityList_join"] {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    border-radius: 22px;
                    padding: 8px 14px;
                }
                &.row-bottom-margin {
                    width: 25%;
                    margin-top: 10px;
                    margin-left: 0;
                    margin-right: 0;
                    text-align: center;
                    float: left;
                    .col-md-12 {
                        padding: 0;
                    }
                }
                &[id*="lstCommunityList_pnlAttributes"] {
                    width: 75%;
                    display: inline-block;
                }
                >.col-md-12 {
                    >div.pull-right {
                        width: 100%;
                        >a {
                            display: flex;
                            flex-direction: column-reverse;
                            width: 33.3%;
                            float: left;
                        }
                    }
                }
            }
        }
        @include media(tablet-to-desktop) {
            width: 55%;
        }
        @include media(tablet-and-down) { 
            float: left;
            width: 100%;
        }
        > .row {
            @include media(tablet-and-down) {
                width: 100%;
            }
        }
        &:first-child {
            @include media(tablet-and-down) {
                display: none;
            }
        }
        > .col-md-12 {
            > div.pull-right {
                @include media(tablet-and-down) {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    a:first-child {
                        padding-left: 0;
                    }
                }
            }
        }
        @include media(tablet-and-down) {
            flex-basis: 100%;
        }
    }
    div[id*="pnlAttributes"] {
        .btn-community-stats-static {
            font-size: $font-size-xs;
            letter-spacing: 0.33px;
            line-height: 14px;
            color: $dark-gray;
            font-weight: $font-weight-semibold;
            border: 0;
            text-transform: uppercase;
            background-color: unset;
            @include media(tablet-and-down) {
                font-size: $font-size-sm;
                text-transform: capitalize;
                letter-spacing: 0;
                font-weight: $font-weight-normal;
                margin: 12px 0 0 0;
            }
            .badge {
                font-size: $font-size-xxlg;
                font-weight: $font-weight-semibold;
                color: $blue-darker;
                letter-spacing: 0.67px;
                line-height: 27px;
                background-color: transparent;
                margin-bottom: 5px;
                @include media(tablet-and-down) {
                    top: 0;
                    font-size: $font-size-sm;
                    letter-spacing: 0;
                    display: inline-block;
                    width: auto;
                    margin: 0 auto;
                    border-top: 0;
                    padding-top: 0;
                }
                @include media(phone-and-down) {
                    padding: 3px 4px;
                }
            }
        }
    }
}
