.digitalRibbonDisplay {
  > .col-md-12 {
    > .pull-left {
      float: none !important;
      > div {
        margin: auto;
      }
    }
  }
}
.my-profile-bottom {
  > .col-md-6 {
    padding-left: 0;
  }
}
.addEditEducationControl,
.jobHistoryControl {
  > .col-md-12 {
    > h2 > a {
      margin-top: 17px;
    }
  }
}
.ContentItemMVC {
  .row.digitalRibbonDisplay {
    .col-md-12 {
      .pull-left  {
        >div>span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 170px;
        }
      }
    }
  }
}
.ContentUserControl[qa-attribute="ribbon assignment"] {
  table tbody tr td div div span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 170px;
  }
}
.ContentUserControl {
  .form-inline {
    .dd-container {
      .dd-select {
        display: inline-block;
        vertical-align: bottom;
      }
    }
    >.btn-primary {
      display: inline-block;
      vertical-align: bottom;
    }
  }
}
#NotificationSettings + .row {
  >.col-md-9 {
    width: calc(100% - 245px);
  }
  >.col-md-3 {
    width: 245px;
    margin-top: 18px;
    margin-bottom: 10px;
  }
}