/****************** common start **********************/
.HLRecentBlogs,
.HLDiscussions {
    .heading {
        h2 {
            font-size: $font-size-xxlg;
            font-weight: $font-weight-semibold;
            line-height: 25px;
        }
    }

    .Content {
        >.row {
            ul {
                li {
                    padding: $spacer-4;
                    border: 1px solid rgba(222, 222, 222, 0.75);
                    border-radius: 8px;
                    box-shadow: 0 3px 24px 0 rgba(131, 135, 145, 0.08);

                    .title-row {
                        .LinkDocumentTitle {
                            color: $gray-dark;
                            font-size: $font-size-lg;
                            font-weight: $font-weight-semibold;
                            line-height: 20px;

                            &:hover,
                            &:focus,
                            &:active {
                                color: $gray-dark;
                            }
                        }
                    }

                    .ByLine {
                        font-size: $font-size-sm;
                        color: #808080;

                        a {
                            color: $dark-gray;
                            font-weight: $font-weight-semibold;
                            line-height: 16px;
                            text-decoration: none;

                            &::after {
                                content: " ,";
                                color: #808080;
                            }

                            &:hover,
                            &:focus,
                            &:active {
                                color: #0085C8;
                            }
                        }
                    }

                    .break-word {
                        margin-top: $spacer-4;
                        color: rgba(60, 68, 83, 0.9);
                        line-height: 24px;
                    }
                }
            }
        }
    }
}

/****************** common start **********************/
.HLRecentBlogs {
    #sortOptionsContainer {
        display: none;
    }

    .Content {
        >.row {
            &:nth-last-of-type(1) {
                position: absolute;
                top: -5px;
                right: 0;

                .btn-default {
                    width: 74px;
                    height: 32px;
                    color: #3C4453;
                    font-size: $font-size-md;
                    font-weight: $font-weight-semibold;
                    letter-spacing: 0;
                    line-height: 16px;
                    border-radius: 3px;
                    background-color: $secondary;
                    &:after {
                        content: "\f105";
                        font-family: "Font Awesome 5 Pro";
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: $spacer-2;
                        font-size: $font-size-xlg;
                        font-weight: $font-weight-light;
                    }
                }
            }
        }
    }
}

.community-home {
    .HLRecentBlogs {
        margin-bottom: 40px !important;
    }
}