/*** Make Buttons ***/
.btn {
    &:active {
        box-shadow: none;
    }
}
.make-buttons em a,
.summary-edit em a,
.JoinLeaveLink a[id*="lbJoin"] {
    display: inline-block;
    padding: 11px 24px;
    border-radius: $btn-border-radius;
    color: $white;
    font-weight: $btn-font-weight;
    font-size: $btn-font-size;
    font-style: normal;
    text-decoration: none;
    line-height: $btn-line-height;
    border: 0;
    box-shadow: $btn-boxshadow;
}
.btn.btn-delete,
.member-directory .actions .btn:last-of-type {
    background-color: $brand-secondary;
    border-color: $brand-secondary;
    color: $white;
    box-shadow: $btn-boxshadow;
}
.btn.btn-success,
.btn.btn-primary,
.btn.btn-default,
.btn.btn-delete,
.btn.btn-info {
    border-radius: $btn-border-radius;
    font-size: $btn-font-size;
}
.btn.btn-success,
.btn.btn-primary,
.btn.btn-delete,
.btn.btn-info {
    box-shadow: $btn-boxshadow;
}
.btn.btn-sm {
    font-size: 10px;
}
.make-buttons em a:hover,
.make-buttons em a:focus,
.btn:hover,
.btn:focus,
.slick-arrow:hover,
.slick-arrow:focus,
.change-theme button:hover,
.change-theme button:focus,
.change-theme.open button,
.summary-edit em a:hover,
.summary-edit em a:focus {
    opacity: 1;
}
.btn-sm + .btn-group-sm.dropdown-toggle {
    height: 28px;
}

/* bootstrap switches */
.bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-handle-off {
    white-space: nowrap;
}

/*** buttons ***/
.make-buttons em a,
.btn.btn-success,
div[id*="ExportUpdatePanel"] input.btn.btn-default,
.profile a[id*="AllCommunities"].btn.btn-default {
    background-color: $brand-secondary;
    border-color: $brand-secondary;
    color: $white;
    border-radius: $btn-border-radius;
    &:focus,
    &:hover,
    &:active {
        background-color: $brand-secondary-hover;
        border-color: $brand-secondary-hover;
        color: $white;
    }
}

.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-color: $brand-secondary-hover;
    border-color: $brand-secondary-hover;
    color: $white;
    border-radius: $btn-border-radius;
}



.hero-make-buttons em a,
.btn.btn-primary,
.btn.btn-info,
.btn.btn-default[id*="btnDownload"],
.member-directory .actions .btn:first-of-type {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: $white;
    border-radius: $btn-border-radius;
    &:hover,
    &:focus,
    &:active {
        background-color: $brand-primary-hover;
        border-color: $brand-primary-hover;
        color: $white;
    }
}

.JoinLeaveLink a[id*=lbJoin] {
    &.btn.btn-primary {
        background-color: $brand-secondary;
        border-color: $brand-secondary;
        color: $white;
        border-radius: $btn-border-radius;
        &:hover,
        &:focus,
        &:focus {
            background-color: $brand-secondary-hover !important;
            border-color: $brand-secondary-hover !important;
            color: $white !important;
        }
    }
}
.btn-primary.active,
.btn-info.active, 
.open .dropdown-toggle.btn-primary {
    background-color: $brand-primary-hover;
    border-color: $brand-primary-hover;
    color: $white;
    border-radius: $btn-border-radius;
}
.btn.btn-default {
    background-color: $light-gray;
    border-color: $light-gray;
    color: $brand-primary;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    font-size: $btn-font-size;
    &:hover,
    &:focus,
    &:focus {
        background-color: $gray-400;
        border-color: $gray-400;
        color: $brand-primary;
    }
    &.reply-inline,
    &.reply-inline + .dropdown-toggle {
        background-color: $brand-secondary;
        border-color: $brand-secondary;
        color: $white;
        &:hover,
        &:focus,
        &:focus {
            background-color: $brand-secondary-hover !important;
            border-color: $brand-secondary-hover !important;
            color: $white !important;
        }
    }
    &.reply-inline {
        padding: 7px 10px 7px 18px;
    }
    &.reply-inline + .dropdown-toggle {
        padding: 7px 18px 7px 10px;
    }
}
.search-box-toggle .btn.btn-default {
    background-color: $light-grey-highlight;
    border-color: $gray-border;
    line-height: 20px;
    &:hover,
    &:focus,
    &:focus {
        background-color: $gray-400;
        border-color: $gray-400;
        color: $brand-primary;
    }
}
a[id*="backButton"].btn.btn-default.btn-back {
    background-color: $light-gray;
    border-color: $light-gray;
    color: $brand-primary;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    font-size: $btn-font-size;
    padding: 11px 24px;
    &:hover,
    &:focus,
    &:focus {
        background-color: $gray;
        border-color: $gray;
        color: $brand-primary;
    }
}

.btn.btn-default-override {
    background-color: $light-gray;
    border-color: $light-gray;
    color: $brand-primary;
    font-size: $font-size-base;
    font-weight: $btn-font-weight;
    &.btn-recommend-no {
        position: relative;
        cursor: default;
        &:before {
            content: '';
            display: block;
            width: 1px;
            height: 60%;
            position: absolute;
            top: 20%;
            right: 0px;
            background-color: $warm-gray;
        }
    }
}
.CommentPanel {
    .btn {
        text-transform: none !important;
    }
    .btn.btn-sm.btn-success {
        background-color: $gray;
        border-color: $gray;
        font-size: $font-size-base;
        font-weight: $btn-font-weight;
        color: $brand-primary !important;
        box-shadow: none;
    }
}
.btn-group>.btn-group:last-child>.btn:first-child,
.btn-group>.btn-group:first-child>.btn:last-child, 
.btn-group>.btn-group:first-child>.dropdown-toggle {
    border-radius: $btn-border-radius;
}
.community-radio .btn-group .btn-primary.dropdown-toggle {
    background-color: $brand-secondary;
    border-color: $brand-secondary;
    color: $white;
    border-radius: $btn-border-radius;
    &:hover,
    &:focus {
    background-color: $brand-secondary-hover;
    border-color: $brand-secondary-hover;
    color: $white;
    }
}

a.thread-icon-follow {
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    .text-muted {
        color: $brand-primary;
    }
}

div[id*="BottomLink"] a:hover, 
div[id*="BottomLink"] a:focus, 
div[id*="More"] a:hover,
div[id*="More"] a:focus,
.home .HLRecentBlogs a[id*="BlogList_More"]:hover,
.home .HLRecentBlogs a[id*="BlogList_More"]:focus,
a[id*="backButton"].btn.btn-default.btn-back:hover,
a[id*="backButton"].btn.btn-default.btn-back:focus {
    color: $brand-primary;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success, 
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
    background-color: $brand-secondary;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, 
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background-color: $brand-primary;
}


/****** landing control buttons ******/
div[id*="BottomLink"] .col-md-12,
div[id*="More"] .col-md-12,
div[id*="pnlMoreLink"] {
    padding: 0;
    text-align: right;
}
div[id*="BottomLink"] a.btn,
div[id*="More"] a.btn,
.home .HLRecentBlogs a[id*="BlogList_More"].btn,
.top-tile a em {
    padding: 0;
    border: none;
    background: transparent;
    color: $brand-primary;
    font-size: $font-size-base;
    line-height: 18px;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
    line-height: 16px;
}
div[id*="BottomLink"] a.btn:active,
div[id*="More"] a.btn:active {
    box-shadow: none;
}
div[id*="BottomLink"] a::after,
div[id*="More"] a::after,
.home .HLRecentBlogs a[id*="BlogList_More"]::after,
.top-tile a em::after {
    font-family: "Font Awesome 5 Pro";
    content: fa-content($fa-var-arrow-right);
    margin-left: 5px;
}
div[id*="BottomLink"] a:hover,
div[id*="BottomLink"] a:focus,
div[id*="More"] a:hover,
div[id*="More"] a:focus,
div[id*="BottomLink"] a.btn.btn-default:hover,
div[id*="BottomLink"] a.btn.btn-default:focus,
div[id*="More"] a.btn.btn-default:hover,
div[id*="More"] a.btn.btn-default:focus {
    background: transparent;
    border: none;
}
.home .HLRecentBlogs a[id*="BlogList_More"]:hover,
.home .HLRecentBlogs a[id*="BlogList_More"]:focus {
    text-decoration: none;
    color: $brand-primary;
}

.btn.btn-default.btn-xs {
    font-size: 11px;
    padding: 2px 5px;
}

// .Welcome .imgButton.btn,
a[id*="ProfileImage"]:not([id*="NameLink"]),
a[id*="UserImageDisplay"],
a[id*="Contacts_PictureLink"],
a[id*="lnkDisplay"],
a[id*="Welcome_Details_ProfileLink"],
.list-group-item-image,
a[title="User Name Image"],
a[oldtitle="User Name Image"],
.member-dashboard-img a,
.dashboard-col-3 ul li .col-sm-2 a,
.HLEngagement .Picture a,
td.ProfilePic > a {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: #d8d9db;
    display: inline-block;
    width: 45px;
    height: 45px;
}
.add-event-button {
    .btn-group {
        >.btn {
            @include media(tablet-and-down) {
                float: left;
            }
        }
    }
}