div[id*="BottomLink"] a.btn,
div[id*="More"] a.btn,
.home .HLRecentBlogs a[id*="BlogList_More"].btn,
.top-tile a em {
    padding: 8px 12px;
    border: none;
    background: $btn-primary-bg-color;
    color: $btn-primary-color;
    font-size: $font-size-base;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    border-radius: 20px;
}