.nav-tabs > li > a {
  text-transform: uppercase;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #e8e8e8;
  font-weight: 500;
  background-color: #f9f9f9;
  transform: translateY(0px);
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: #e8e8e8;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #484848;
  background-color: #fff;
}
