.expandCollapseWrapper {
    position: relative;
    #customtoggleButton {
        display: none;

        &:checked {
            & + .expand-collapse-container.mobile {
                display: block !important;
            }
        }
    }
    label {
        width: 30px;
        height: 30px;
        text-align: right;
    }
    .expand-collapse-container.mobile {
        display: none;
        position: absolute;
        top: 35px;
        right: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        min-width: 100px;
        text-align: center;
        z-index: 10;
        border-radius: $btn-border-radius;

        .expand-collapse-pipe {
            display: none;
        }

        > a {
            display: block;
            text-decoration: none;
            padding: 10px;
            font-size: $font-size-sm;
        }
    }
    
}