#MPheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    >.row {
        order: 2;
        >.col-md-12 {
            padding-right: 0;
        }
    }
    #Logo {
        order: 1;
        >.col-md-12 {
            // padding: 0;
            .LogoImg {
                width: 240px;
                @include media(tablet-and-down) {
                    width: 110px;
                }
            }
        }
    }
    #auxskiplink {
        left: -9999px;
    }
    >div.row {
        padding: 10px 0;
        margin: 0;
    }
    .Welcome {
        #ProfileContainer {
            > li {
                >.panel  {
                    >.panel-body {
                        >.row {
                            >div.col-md-3 {
                                >a {
                                    width: $header-profile-container-image-size;
                                    height: $header-profile-container-image-size;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#MPOuterHeader {
    background-color: $header-layout-bg;
    .col-md-12 {
        padding: 0;
    }
}
.row.traditional-nav {
    background-color: $nav-layout-bg;
    box-shadow: $high-shadows;
    margin: 0 auto;
    .navbar {
        border: none;
        background-color: $nav-bar-bg;
        .navbar-header {
            .navbar-toggle {
                margin-right: 0;
            }
        }
        .navbar-collapse {
            padding: 0;
            overflow-x: hidden;
            >.row {
                margin: 0;
                >.col-md-12 {
                    @media(max-width: 1200px) {
                        padding: 0;
                    }
                }
            }
            a {
                color: $nav-font-color;
            }
            .navbar-nav {
                .active {
                    >a {
                        background-color: $nav-active-bg;
                    }
                }
                .dropdown {
                    &.open {
                        li.active {
                            a {
                                background-color: $nav-submenu-active-bg;
                                color: $nav-active-font-color;
                            }
                        }
                    }
                    .dropdown-menu {
                        padding: 12px 0;
                        >li>a:hover, 
                        >li>a:focus {
                            background-color: $nav-submenu-active-bg;
                            color: $nav-active-font-color;
                        }
                    }
                }
            }   
        }
    }
    #searchColumn {
        @media only screen and (min-width: $screen-sm-min) {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
        }
        @include media(tablet-and-down) {
            float: none !important;
            max-width: 100%;
        }

        #MPSearchBlock {
            padding-top: 7px;
            margin-top: 0;
            @media only screen and (max-width: $screen-sm-max) {
                border-top: 1px solid $header-border-color;
            }
            #SearchControl_SearchInputs {
              #SearchControl_WholeSearch > .input-group {
                @media only screen and (max-width: $screen-sm-max) {
                  width: 100%;
                }
              }
              .input-group .form-control:first-child#SearchControl_SearchTerm {
                height: $header-search-height;
                border: 1px solid $form-border-color;
                border-radius: $form-radius;
                text-transform: capitalize;
                padding-right: 32px;
                &::placeholder {
                  font-style: unset;
                }
                @media only screen and (min-width: $screen-sm-min) {
                  max-width: 110px;
                  transition: max-width 0.5s;
                  float: right;
                }
                @media only screen and (max-width: $screen-xs-max) {
                  width: 100%;
                  padding: 7px 15px;
                }
                &:focus {
                  @media only screen and (min-width: $screen-sm-min) {
                    max-width: 220px;
                    transition: max-width 0.5s;
                  }
                  @media only screen and (max-width: $screen-xs-max) {
                    width: 100%;
                  }
                }
              }
              .input-group-btn {
                position: absolute;
                right: 30px;
                height: $header-search-height;
                top: 0;
                #SearchControl_SearchButton {
                  background: none;
                  border: 0;
                  outline: none;
                  .glyphicon-search {
                    &::before {
                      font-weight: $font-weight-normal;
                      font-size: $font-size-md;
                    }
                  }
                }
              }
            }
        }
    }
}

#MPOuterMost.full #HEADER,
#MPOuterMost.full #MPButtonBar {
    padding: 0 15px;
}